<template>
  <form
    style="
      width: 400px;
      margin: auto;
      margin-bottom: 50px;
      border: solid #7575c1;
      padding: 32px;
    "
    v-on:submit.prevent="agregarPaciente"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Cedula</label>
      <input
        type="number"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        v-model="paciente.id"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.nombre"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.apellido"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Numero de telefono</label
      >
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.numTelefono"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Genero</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.genero"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Direccion</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.direccion"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Ciudad</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.ciudad"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Fecha de nacimiento</label
      >
      <input
        type="date"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.fechaNacimiento"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Latitud</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.latitud"
      />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Longitud</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputPassword1"
        v-model="paciente.longitud"
      />
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</template>

<script>
import axios from "axios";
export default {
  name: "AgregarPaciente",
  data: function () {
    return {
      paciente: {
        id: "",
        nombre: "",
        apellido: "",
        numTelefono: "",
        genero: "",
        direccion: "",
        ciudad: "",
        fechaNacimiento: null,
        latitud: "",
        longitud: "",
      },
    };
  },
  methods: {
    agregarPaciente: function () {
      axios
        .post("https://hospbe.herokuapp.com/pacienteTodos/", this.paciente, {
          headers: {},
        })
        .then((result) => {
          console.log("Se ha agregado el paciente");
          console.log(result);
          alert("La accion se ha realizado correctamente")
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>

