<template>
  <div class="hello">
    <h1>Hospital en Casa</h1>
    <p>
      Una aplicativo web que le ayudara a controlar su estado de salud y mantenerse en contacto con su medico.
      
    </p>
    <h3>Podra consultar su historia clinica</h3>
    
    <h3>Registrar sus signos vitales</h3>
    
    <h3>Recibir un diagnostico de su medico</h3>
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
