<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">Genero</th>
          <th scope="col">Direccion</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Latitud</th>
          <th scope="col">Longitud</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="paciente in pacientes" :key="paciente.id">
          <th scope="row">{{paciente.id}}</th>
          <td>{{paciente.nombre}}</td>
          <td>{{paciente.apellido}}</td>
          <td>{{paciente.numTelefono}}</td>
          <td>{{paciente.genero}}</td>
          <td>{{paciente.direccion}}</td>
          <td>{{paciente.fechaNacimiento}}</td>
          <td>{{paciente.latitud}}</td>
          <td>{{paciente.longitud}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "MostrarPacientes",
  data: function () {
    return {
      pacientes: [],
    };
  },
  methods: {
    getData: function () {
      axios.get("https://hospbe.herokuapp.com/pacienteTodos/", { 
        headers: {},
      }).then((result) => {
        this.pacientes = result.data;
      });
    },
  },
  created: async function(){
    this.getData();
  }
};
</script>
